//
//    Application Variables
// ---------------------------------------------------------------------------------

// Black and white
$white:                     #FFF;
$gray-lightest:             #F1F1F1;
$black:                     #000;

// Brand colors
$brand-blue:                #042C64;
$brand-light-blue:          #1379AE;
$brand-green:               #72C245;
$brand-red:                 #CF3837;
$brand-orange:              #F8AE4C;

// Main link colors
$link-color:                $brand-light-blue;
$link-color-visited:        $link-color;
$link-color-hover:          lighten($link-color, 10%);
$link-color-active:         lighten($link-color-hover, 20%);

// Main section colors
$page-bg:                   #fff;
$main-bg:                   #fff;

$header-bg:                 $brand-blue;


// Typography
$base-font-size:            16px;
$base-line-height:          1.5;
$text-color:                #666;
$text-color-light:          #aaa;
$base-font-family:          'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$heading-color:             #262626;
$heading-font-family:       $base-font-family;
$heading-font-weight:       600;

$code-font-family:          'Menlo', mono;
$code-font-size:            em($base-font-size*0.75);

$base-spacing-unit:         em($base-font-size);

// Media query widths
$baby:                      em(550px);
$mama:                      em(720px);
$papa:                      em(992px);

// Susy Responsive Grid Setup
$total-columns:             12;
$column-width:              5.75em;
$gutter-width:              1em;
$grid-padding:              $gutter-width;
$border-box-sizing:         true;