//
//    _global.scss - Core theme styles
// ---------------------------------------------------------------------------------



// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
    @include box-sizing(border-box);
}

html,
body {
    background: $page-bg;
    font-size: em($base-font-size);
}

// Default body styles
body {
    position: relative;
    margin: 0;
    padding: 0;
    color: $text-color;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

// Default link styles
//      Eric Meyer order: http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
a {
    color: $link-color; text-decoration: none;
    &:visited { color: $link-color-visited; }
    &:hover { color: $link-color-hover; }
    &:focus { color: $link-color-hover; }
    &:active { color: $link-color-active; }
}

// Defaults to get images and embeds to work properly
img,
object,
embed { max-width: 100%; height: auto; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

#map_canvas,
.map_canvas {
  img,
  embed,
  object { max-width: none !important; }
}

// Miscellaneous useful HTML classes
.left         { float: left !important; }
.right        { float: right !important; }
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.text-center  { text-align: center !important; }
.text-justify { text-align: justify !important; }
.hide         { display: none; }

// Font smoothing
// Antialiased font smoothing works best for light text on a dark background.
// Apply to single elements instead of globally to body.
// Note this only applies to webkit-based desktop browsers on the Mac.
.antialiased { -webkit-font-smoothing: antialiased; }

// Get rid of gap under images by making them display: inline-block; by default
img {
    display: inline-block;
    vertical-align: middle;
}

//
// Global resets for forms
//

// Make sure textarea takes on height automatically
textarea { height: auto; min-height: 50px; }

// Make select elements 100% width by default
select { width: 100%; }


//    Utility Classes
// ---------------------------
.alignleft,
.alignright {
    max-width: 40%;
}
.alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}
.aligncenter {
    display: block;
    margin: 0.5em auto;
}
.alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}