//
//    Layout styles - set layout styles and backgrounds
// ---------------------------------------------------------------------------------

.clearfix,
%clearfix {
    @include pie-clearfix;
}

// Wrapper can be used to vertically center the entire content area by
// changeing to margin: 0 auto;
.wrapper {
    @extend %clearfix;
    margin: 0;
    padding: 0;
}

// Container used to horizontally center elements on the page
.container {
    @include container;
    // @extend %clearfix;
    // margin: 0 auto;
    // max-width: em(1280px);
}

// Module to be used inside of a container or grid-item for spacing
.module {
    @extend %clearfix;
    padding: em($base-font-size * 4) em($base-font-size);
}


// Setup some padding on the left and right of content
.footer,
.content > article,
.content > div > article,
.content > div > section {
    padding-left: 1em;
    padding-right: 1em;
}


// Main content wrapper
.content {
    @extend %clearfix;
}
.content__primary,
.content__secondary {
    @extend %clearfix;
    > article,
    > div > article {
        width: 100%;
    }
}
@include at-breakpoint($papa){
    .content__primary {
        @include span-columns(8,12);
    }
    .content__secondary {
        @include span-columns(4 omega,12);
    }
}
.content__primary--full {
    float: none;
    width: 100%;
}


.footer {
    height: 6em;
    padding-top: 2em;
    border-top: 1px solid $gray-lightest;
}