//
//    Nagivation
// ---------------------------------------------------------------------------------

.nav--main {
    clear: left;
    ul {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
    }
    li {
        display: block;
        width: 100%;
    }
    a {
        display: block;
        padding: 0.5em 0.8em;
        font-size: 125%;
        background-color: $gray-lightest;
        border-bottom: 1px solid $white;
    }
    li:last-child a {
        border-bottom: 0;
    }
    &.opened {
        max-height: 9999px;
    }

    @include at-breakpoint($mama) {
        clear: none;
        ul {
            float: right;
            width: auto;
            padding: 1.75em 0;
        }
        li {
            float: left;
            width: auto;
        }
        a {
            font-size: 100%;
            background: none;
        }
        li + li {
            margin-left: 1.5em;
        }
    }
}

.js .nav--main {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    margin: 0 0 - $grid-padding;
    overflow: hidden;
    zoom: 1;

    @include at-breakpoint($mama) {
        position: relative;
        max-height: 9999px;
        margin: 0;
    }
}

.nav__toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    padding-top: 30px;
    text-align: center;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    .icon {
        font-size: 250%;
    }

    @include at-breakpoint($mama) {
        display: none;
    }
}