/* line 10, ../sass/base/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/base/_global.scss */
html,
body {
  background: white;
  font-size: 1em;
}

/* line 21, ../sass/base/_global.scss */
body {
  position: relative;
  margin: 0;
  padding: 0;
  color: #666666;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* line 32, ../sass/base/_global.scss */
a {
  color: #1379ae;
  text-decoration: none;
}
/* line 34, ../sass/base/_global.scss */
a:visited {
  color: #1379ae;
}
/* line 35, ../sass/base/_global.scss */
a:hover {
  color: #1899dc;
}
/* line 36, ../sass/base/_global.scss */
a:focus {
  color: #1899dc;
}
/* line 37, ../sass/base/_global.scss */
a:active {
  color: #6bc2ef;
}

/* line 43, ../sass/base/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 46, ../sass/base/_global.scss */
object,
embed {
  height: 100%;
}

/* line 47, ../sass/base/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 53, ../sass/base/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 57, ../sass/base/_global.scss */
.left {
  float: left !important;
}

/* line 58, ../sass/base/_global.scss */
.right {
  float: right !important;
}

/* line 59, ../sass/base/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 60, ../sass/base/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 61, ../sass/base/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 62, ../sass/base/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 63, ../sass/base/_global.scss */
.hide {
  display: none;
}

/* line 69, ../sass/base/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 72, ../sass/base/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 82, ../sass/base/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 85, ../sass/base/_global.scss */
select {
  width: 100%;
}

/* line 91, ../sass/base/_global.scss */
.alignleft,
.alignright {
  max-width: 40%;
}

/* line 94, ../sass/base/_global.scss */
.alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

/* line 98, ../sass/base/_global.scss */
.aligncenter {
  display: block;
  margin: 0.5em auto;
}

/* line 102, ../sass/base/_global.scss */
.alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

/* line 8, ../sass/base/_typography.scss */
p .lead {
  font-size: 1.25em;
  line-height: 1.6;
}

/* Typography resets */
/* line 32, ../sass/base/_typography.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* line 39, ../sass/base/_typography.scss */
p {
  margin-bottom: 1em;
  text-rendering: optimizeLegibility;
}

/* line 49, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  color: #262626;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}
/* line 57, ../sass/base/_typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 75%;
  color: #404040;
  line-height: 0;
}

/* line 65, ../sass/base/_typography.scss */
hr {
  border: solid #eee;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1em;
}

/* line 76, ../sass/base/_typography.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 82, ../sass/base/_typography.scss */
strong,
b {
  font-weight: 600;
  line-height: inherit;
}

/* line 87, ../sass/base/_typography.scss */
small {
  font-size: 75%;
  line-height: inherit;
}

/* line 92, ../sass/base/_typography.scss */
code {
  color: #8c8c8c;
  font-family: "Menlo", mono;
  font-size: 0.75em;
}

/* line 103, ../sass/base/_typography.scss */
ul,
ol,
dl {
  line-height: 1.5;
  margin-bottom: 1em;
  list-style-position: outside;
}

/* line 109, ../sass/base/_typography.scss */
ul, ol {
  margin-left: 0;
}

/* line 118, ../sass/base/_typography.scss */
ul li ul,
ul li ol {
  margin-left: 1em;
  margin-bottom: 0;
  font-size: 1em;
}
/* line 127, ../sass/base/_typography.scss */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
/* line 129, ../sass/base/_typography.scss */
ul.square {
  list-style-type: square;
}
/* line 130, ../sass/base/_typography.scss */
ul.circle {
  list-style-type: circle;
}
/* line 131, ../sass/base/_typography.scss */
ul.disc {
  list-style-type: disc;
}
/* line 132, ../sass/base/_typography.scss */
ul.no-bullet {
  list-style: none;
}

/* line 141, ../sass/base/_typography.scss */
ol li ul,
ol li ol {
  margin-left: 1em;
  margin-bottom: 0;
}

/* line 152, ../sass/base/_typography.scss */
dl dt {
  margin-bottom: 0.3125em;
  font-weight: 600;
}
/* line 156, ../sass/base/_typography.scss */
dl dd {
  margin-bottom: 0.75em;
}

/* line 165, ../sass/base/_typography.scss */
abbr,
acronym {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #666666;
  cursor: help;
}

/* line 171, ../sass/base/_typography.scss */
abbr {
  text-transform: none;
}

/* line 178, ../sass/base/_typography.scss */
blockquote {
  margin: 0 0 1em;
  padding: 1em 1em 0 1em;
  border-left: 1px solid #666666;
}
/* line 183, ../sass/base/_typography.scss */
blockquote cite {
  display: block;
  color: #595959;
  font-size: 0.8125em;
}
/* line 187, ../sass/base/_typography.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 192, ../sass/base/_typography.scss */
blockquote cite a,
blockquote cite a:visited {
  color: #595959;
}

/* line 198, ../sass/base/_typography.scss */
blockquote,
blockquote p {
  color: #737373;
  line-height: 1.5;
}

/* line 207, ../sass/base/_typography.scss */
*::-moz-selection {
  background: #042c64;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 208, ../sass/base/_typography.scss */
*::-webkit-selection {
  background: #042c64;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 209, ../sass/base/_typography.scss */
*::selection {
  background: #042c64;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

/* line 6, ../sass/base/_layout.scss */
.clearfix,
.wrapper,
.module,
.content,
.content__primary,
.content__secondary,
.header {
  *zoom: 1;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after,
.wrapper:after,
.module:after,
.content:after,
.content__primary:after,
.content__secondary:after,
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 12, ../sass/base/_layout.scss */
.wrapper {
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/base/_layout.scss */
.container {
  *zoom: 1;
  max-width: 82em;
  _width: 82em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../sass/base/_layout.scss */
.module {
  padding: 4em 1em;
}

/* line 37, ../sass/base/_layout.scss */
.footer,
.content > article,
.content > div > article,
.content > div > section {
  padding-left: 1em;
  padding-right: 1em;
}

/* line 51, ../sass/base/_layout.scss */
.content__primary > article,
.content__primary > div > article,
.content__secondary > article,
.content__secondary > div > article {
  width: 100%;
}

@media (min-width: 62em) {
  /* line 56, ../sass/base/_layout.scss */
  .content__primary {
    width: 66.25%;
    float: left;
    margin-right: 1.25%;
  }

  /* line 59, ../sass/base/_layout.scss */
  .content__secondary {
    width: 32.5%;
    float: right;
    margin-right: 0;
  }
}
/* line 63, ../sass/base/_layout.scss */
.content__primary--full {
  float: none;
  width: 100%;
}

/* line 69, ../sass/base/_layout.scss */
.footer {
  height: 6em;
  padding-top: 2em;
  border-top: 1px solid #f1f1f1;
}

/* line 5, ../sass/partials/_header.scss */
.header {
  background: inherit;
  border-bottom: 1px solid #f1f1f1;
}
/* line 9, ../sass/partials/_header.scss */
.header h1 {
  float: left;
  margin: 0;
  padding: 1em 1em 1em 0;
}
/* line 13, ../sass/partials/_header.scss */
.header h1 > a, .header h1 a:visited, .header h1 a:hover {
  color: #1379ae;
  text-decoration: none;
}
@media (min-width: 45em) {
  /* line 20, ../sass/partials/_header.scss */
  .header h1 {
    width: 24.0625%;
    float: left;
    margin-right: 1.25%;
  }
  /* line 21, ../sass/partials/_header.scss */
  .header nav {
    width: 74.6875%;
    float: left;
    margin-right: 1.25%;
  }
}

/*!
  Ionicons, v1.3.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/helloimben  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons
*/
@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=1.3.0");
  src: url("../fonts/ionicons.eot?v=1.3.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=1.3.0") format("truetype"), url("../fonts/ionicons.woff?v=1.3.0") format("woff"), url("../fonts/ionicons.svg?v=1.3.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/partials/ionicons/_ionicons-font.scss */
.ion, .ionicons,
.ion-alert,
.ion-alert-circled,
.ion-archive,
.ion-arrow-down-a,
.ion-arrow-down-b,
.ion-arrow-down-c,
.ion-arrow-expand,
.ion-arrow-graph-down-left,
.ion-arrow-graph-down-right,
.ion-arrow-graph-up-left,
.ion-arrow-graph-up-right,
.ion-arrow-left-a,
.ion-arrow-left-b,
.ion-arrow-left-c,
.ion-arrow-move,
.ion-arrow-resize,
.ion-arrow-return-left,
.ion-arrow-return-right,
.ion-arrow-right-a,
.ion-arrow-right-b,
.ion-arrow-right-c,
.ion-arrow-shrink,
.ion-arrow-swap,
.ion-arrow-up-a,
.ion-arrow-up-b,
.ion-arrow-up-c,
.ion-at,
.ion-bag,
.ion-battery-charging,
.ion-battery-empty,
.ion-battery-full,
.ion-battery-half,
.ion-battery-low,
.ion-beaker,
.ion-beer,
.ion-bluetooth,
.ion-bookmark,
.ion-briefcase,
.ion-calculator,
.ion-calendar,
.ion-camera,
.ion-card,
.ion-chatbox,
.ion-chatbox-working,
.ion-chatboxes,
.ion-chatbubble,
.ion-chatbubble-working,
.ion-chatbubbles,
.ion-checkmark,
.ion-checkmark-circled,
.ion-checkmark-round,
.ion-chevron-down,
.ion-chevron-left,
.ion-chevron-right,
.ion-chevron-up,
.ion-clipboard,
.ion-clock,
.ion-close,
.ion-close-circled,
.ion-close-round,
.ion-cloud,
.ion-code,
.ion-code-download,
.ion-code-working,
.ion-coffee,
.ion-compass,
.ion-compose,
.ion-connection-bars,
.ion-contrast,
.ion-disc,
.ion-document,
.ion-document-text,
.ion-drag,
.ion-earth,
.ion-egg,
.ion-eject,
.ion-email,
.ion-eye,
.ion-female,
.ion-filing,
.ion-film-marker,
.ion-flag,
.ion-flash,
.ion-flash-off,
.ion-flask,
.ion-folder,
.ion-fork,
.ion-forward,
.ion-game-controller-a,
.ion-game-controller-b,
.ion-gear-a,
.ion-gear-b,
.ion-grid,
.ion-hammer,
.ion-headphone,
.ion-heart,
.ion-help,
.ion-help-buoy,
.ion-help-circled,
.ion-home,
.ion-icecream,
.ion-icon-social-google-plus,
.ion-icon-social-google-plus-outline,
.ion-image,
.ion-images,
.ion-information,
.ion-information-circled,
.ion-ionic,
.ion-ios7-alarm,
.ion-ios7-alarm-outline,
.ion-ios7-albums,
.ion-ios7-albums-outline,
.ion-ios7-arrow-back,
.ion-ios7-arrow-down,
.ion-ios7-arrow-forward,
.ion-ios7-arrow-left,
.ion-ios7-arrow-right,
.ion-ios7-arrow-thin-down,
.ion-ios7-arrow-thin-left,
.ion-ios7-arrow-thin-right,
.ion-ios7-arrow-thin-up,
.ion-ios7-arrow-up,
.ion-ios7-at,
.ion-ios7-at-outline,
.ion-ios7-bell,
.ion-ios7-bell-outline,
.ion-ios7-bolt,
.ion-ios7-bolt-outline,
.ion-ios7-bookmarks,
.ion-ios7-bookmarks-outline,
.ion-ios7-box,
.ion-ios7-box-outline,
.ion-ios7-briefcase,
.ion-ios7-briefcase-outline,
.ion-ios7-browsers,
.ion-ios7-browsers-outline,
.ion-ios7-calculator,
.ion-ios7-calculator-outline,
.ion-ios7-calendar,
.ion-ios7-calendar-outline,
.ion-ios7-camera,
.ion-ios7-camera-outline,
.ion-ios7-cart,
.ion-ios7-cart-outline,
.ion-ios7-chatboxes,
.ion-ios7-chatboxes-outline,
.ion-ios7-chatbubble,
.ion-ios7-chatbubble-outline,
.ion-ios7-checkmark,
.ion-ios7-checkmark-empty,
.ion-ios7-checkmark-outline,
.ion-ios7-circle-filled,
.ion-ios7-circle-outline,
.ion-ios7-clock,
.ion-ios7-clock-outline,
.ion-ios7-cloud,
.ion-ios7-cloud-download,
.ion-ios7-cloud-download-outline,
.ion-ios7-cloud-outline,
.ion-ios7-cloud-upload,
.ion-ios7-cloud-upload-outline,
.ion-ios7-cloudy,
.ion-ios7-cloudy-outline,
.ion-ios7-cog,
.ion-ios7-cog-outline,
.ion-ios7-compose,
.ion-ios7-compose-outline,
.ion-ios7-contact,
.ion-ios7-contact-outline,
.ion-ios7-copy,
.ion-ios7-copy-outline,
.ion-ios7-download,
.ion-ios7-download-outline,
.ion-ios7-drag,
.ion-ios7-email,
.ion-ios7-email-outline,
.ion-ios7-eye,
.ion-ios7-eye-outline,
.ion-ios7-fastforward,
.ion-ios7-fastforward-outline,
.ion-ios7-filing,
.ion-ios7-filing-outline,
.ion-ios7-film,
.ion-ios7-film-outline,
.ion-ios7-flag,
.ion-ios7-flag-outline,
.ion-ios7-folder,
.ion-ios7-folder-outline,
.ion-ios7-gear,
.ion-ios7-gear-outline,
.ion-ios7-glasses,
.ion-ios7-glasses-outline,
.ion-ios7-heart,
.ion-ios7-heart-outline,
.ion-ios7-help,
.ion-ios7-help-empty,
.ion-ios7-help-outline,
.ion-ios7-infinite,
.ion-ios7-infinite-outline,
.ion-ios7-information,
.ion-ios7-information-empty,
.ion-ios7-information-outline,
.ion-ios7-ionic-outline,
.ion-ios7-keypad,
.ion-ios7-keypad-outline,
.ion-ios7-lightbulb,
.ion-ios7-lightbulb-outline,
.ion-ios7-location,
.ion-ios7-location-outline,
.ion-ios7-locked,
.ion-ios7-locked-outline,
.ion-ios7-medkit,
.ion-ios7-medkit-outline,
.ion-ios7-mic,
.ion-ios7-mic-off,
.ion-ios7-mic-outline,
.ion-ios7-minus,
.ion-ios7-minus-empty,
.ion-ios7-minus-outline,
.ion-ios7-monitor,
.ion-ios7-monitor-outline,
.ion-ios7-moon,
.ion-ios7-moon-outline,
.ion-ios7-more,
.ion-ios7-more-outline,
.ion-ios7-musical-note,
.ion-ios7-musical-notes,
.ion-ios7-navigate,
.ion-ios7-navigate-outline,
.ion-ios7-paperplane,
.ion-ios7-paperplane-outline,
.ion-ios7-partlysunny,
.ion-ios7-partlysunny-outline,
.ion-ios7-pause,
.ion-ios7-pause-outline,
.ion-ios7-people,
.ion-ios7-people-outline,
.ion-ios7-person,
.ion-ios7-person-outline,
.ion-ios7-personadd,
.ion-ios7-personadd-outline,
.ion-ios7-photos,
.ion-ios7-photos-outline,
.ion-ios7-pie,
.ion-ios7-pie-outline,
.ion-ios7-play,
.ion-ios7-play-outline,
.ion-ios7-plus,
.ion-ios7-plus-empty,
.ion-ios7-plus-outline,
.ion-ios7-pricetag,
.ion-ios7-pricetag-outline,
.ion-ios7-printer,
.ion-ios7-printer-outline,
.ion-ios7-rainy,
.ion-ios7-rainy-outline,
.ion-ios7-recording,
.ion-ios7-recording-outline,
.ion-ios7-redo,
.ion-ios7-redo-outline,
.ion-ios7-refresh,
.ion-ios7-refresh-empty,
.ion-ios7-refresh-outline,
.ion-ios7-reload,
.ion-ios7-rewind,
.ion-ios7-rewind-outline,
.ion-ios7-search,
.ion-ios7-search-strong,
.ion-ios7-skipbackward,
.ion-ios7-skipbackward-outline,
.ion-ios7-skipforward,
.ion-ios7-skipforward-outline,
.ion-ios7-speedometer,
.ion-ios7-speedometer-outline,
.ion-ios7-star,
.ion-ios7-star-outline,
.ion-ios7-stopwatch,
.ion-ios7-stopwatch-outline,
.ion-ios7-sunny,
.ion-ios7-sunny-outline,
.ion-ios7-telephone,
.ion-ios7-telephone-outline,
.ion-ios7-thunderstorm,
.ion-ios7-thunderstorm-outline,
.ion-ios7-time,
.ion-ios7-time-outline,
.ion-ios7-timer,
.ion-ios7-timer-outline,
.ion-ios7-trash,
.ion-ios7-trash-outline,
.ion-ios7-undo,
.ion-ios7-undo-outline,
.ion-ios7-unlocked,
.ion-ios7-unlocked-outline,
.ion-ios7-upload,
.ion-ios7-upload-outline,
.ion-ios7-videocam,
.ion-ios7-videocam-outline,
.ion-ios7-volume-high,
.ion-ios7-volume-low,
.ion-ios7-wineglass,
.ion-ios7-wineglass-outline,
.ion-ios7-world,
.ion-ios7-world-outline,
.ion-ipad,
.ion-iphone,
.ion-ipod,
.ion-jet,
.ion-key,
.ion-knife,
.ion-laptop,
.ion-leaf,
.ion-levels,
.ion-lightbulb,
.ion-link,
.ion-load-a,
.ion-load-b,
.ion-load-c,
.ion-load-d,
.ion-location,
.ion-locked,
.ion-log-in,
.ion-log-out,
.ion-loop,
.ion-magnet,
.ion-male,
.ion-man,
.ion-map,
.ion-medkit,
.ion-mic-a,
.ion-mic-b,
.ion-mic-c,
.ion-minus,
.ion-minus-circled,
.ion-minus-round,
.ion-monitor,
.ion-more,
.ion-music-note,
.ion-navicon,
.ion-navicon-round,
.ion-navigate,
.ion-nuclear,
.ion-paperclip,
.ion-pause,
.ion-person,
.ion-person-add,
.ion-person-stalker,
.ion-pie-graph,
.ion-pin,
.ion-pinpoint,
.ion-pizza,
.ion-plane,
.ion-play,
.ion-plus,
.ion-plus-circled,
.ion-plus-round,
.ion-pound,
.ion-power,
.ion-pricetag,
.ion-pricetags,
.ion-printer,
.ion-radio-waves,
.ion-record,
.ion-refresh,
.ion-reply,
.ion-reply-all,
.ion-search,
.ion-settings,
.ion-share,
.ion-shuffle,
.ion-skip-backward,
.ion-skip-forward,
.ion-social-android,
.ion-social-android-outline,
.ion-social-apple,
.ion-social-apple-outline,
.ion-social-bitcoin,
.ion-social-bitcoin-outline,
.ion-social-buffer,
.ion-social-buffer-outline,
.ion-social-designernews,
.ion-social-designernews-outline,
.ion-social-dribbble,
.ion-social-dribbble-outline,
.ion-social-dropbox,
.ion-social-dropbox-outline,
.ion-social-facebook,
.ion-social-facebook-outline,
.ion-social-github,
.ion-social-github-outline,
.ion-social-googleplus,
.ion-social-googleplus-outline,
.ion-social-hackernews,
.ion-social-hackernews-outline,
.ion-social-linkedin,
.ion-social-linkedin-outline,
.ion-social-pinterest,
.ion-social-pinterest-outline,
.ion-social-reddit,
.ion-social-reddit-outline,
.ion-social-rss,
.ion-social-rss-outline,
.ion-social-skype,
.ion-social-skype-outline,
.ion-social-tumblr,
.ion-social-tumblr-outline,
.ion-social-twitter,
.ion-social-twitter-outline,
.ion-social-vimeo,
.ion-social-vimeo-outline,
.ion-social-windows,
.ion-social-windows-outline,
.ion-social-wordpress,
.ion-social-wordpress-outline,
.ion-social-yahoo,
.ion-social-yahoo-outline,
.ion-social-youtube,
.ion-social-youtube-outline,
.ion-speakerphone,
.ion-speedometer,
.ion-spoon,
.ion-star,
.ion-stats-bars,
.ion-stop,
.ion-thermometer,
.ion-thumbsdown,
.ion-thumbsup,
.ion-trash-a,
.ion-trash-b,
.ion-umbrella,
.ion-unlocked,
.ion-upload,
.ion-usb,
.ion-videocamera,
.ion-volume-high,
.ion-volume-low,
.ion-volume-medium,
.ion-volume-mute,
.ion-waterdrop,
.ion-wifi,
.ion-wineglass,
.ion-woman,
.ion-wrench {
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 4, ../sass/partials/ionicons/_ionicons-animation.scss */
.ion-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 12, ../sass/partials/ionicons/_ionicons-animation.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 13, ../sass/partials/ionicons/_ionicons-animation.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 16, ../sass/partials/ionicons/_ionicons-animation.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 17, ../sass/partials/ionicons/_ionicons-animation.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 20, ../sass/partials/ionicons/_ionicons-animation.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 21, ../sass/partials/ionicons/_ionicons-animation.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 24, ../sass/partials/ionicons/_ionicons-animation.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 25, ../sass/partials/ionicons/_ionicons-animation.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 28, ../sass/partials/ionicons/_ionicons-animation.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 29, ../sass/partials/ionicons/_ionicons-animation.scss */
  100% {
    transform: rotate(359deg);
  }
}

/* line 451, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-alert:before {
  content: "\f101";
}

/* line 452, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-alert-circled:before {
  content: "\f100";
}

/* line 453, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-archive:before {
  content: "\f102";
}

/* line 454, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-down-a:before {
  content: "\f103";
}

/* line 455, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-down-b:before {
  content: "\f104";
}

/* line 456, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-down-c:before {
  content: "\f105";
}

/* line 457, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-expand:before {
  content: "\f25e";
}

/* line 458, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-graph-down-left:before {
  content: "\f25f";
}

/* line 459, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-graph-down-right:before {
  content: "\f260";
}

/* line 460, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-graph-up-left:before {
  content: "\f261";
}

/* line 461, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-graph-up-right:before {
  content: "\f262";
}

/* line 462, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-left-a:before {
  content: "\f106";
}

/* line 463, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-left-b:before {
  content: "\f107";
}

/* line 464, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-left-c:before {
  content: "\f108";
}

/* line 465, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-move:before {
  content: "\f263";
}

/* line 466, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-resize:before {
  content: "\f264";
}

/* line 467, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-return-left:before {
  content: "\f265";
}

/* line 468, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-return-right:before {
  content: "\f266";
}

/* line 469, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-right-a:before {
  content: "\f109";
}

/* line 470, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-right-b:before {
  content: "\f10a";
}

/* line 471, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-right-c:before {
  content: "\f10b";
}

/* line 472, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-shrink:before {
  content: "\f267";
}

/* line 473, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-swap:before {
  content: "\f268";
}

/* line 474, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-up-a:before {
  content: "\f10c";
}

/* line 475, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-up-b:before {
  content: "\f10d";
}

/* line 476, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-arrow-up-c:before {
  content: "\f10e";
}

/* line 477, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-at:before {
  content: "\f10f";
}

/* line 478, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-bag:before {
  content: "\f110";
}

/* line 479, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-battery-charging:before {
  content: "\f111";
}

/* line 480, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-battery-empty:before {
  content: "\f112";
}

/* line 481, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-battery-full:before {
  content: "\f113";
}

/* line 482, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-battery-half:before {
  content: "\f114";
}

/* line 483, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-battery-low:before {
  content: "\f115";
}

/* line 484, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-beaker:before {
  content: "\f269";
}

/* line 485, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-beer:before {
  content: "\f26a";
}

/* line 486, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-bluetooth:before {
  content: "\f116";
}

/* line 487, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-bookmark:before {
  content: "\f26b";
}

/* line 488, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-briefcase:before {
  content: "\f26c";
}

/* line 489, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-calculator:before {
  content: "\f26d";
}

/* line 490, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-calendar:before {
  content: "\f117";
}

/* line 491, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-camera:before {
  content: "\f118";
}

/* line 492, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-card:before {
  content: "\f119";
}

/* line 493, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chatbox:before {
  content: "\f11b";
}

/* line 494, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chatbox-working:before {
  content: "\f11a";
}

/* line 495, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chatboxes:before {
  content: "\f11c";
}

/* line 496, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chatbubble:before {
  content: "\f11e";
}

/* line 497, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chatbubble-working:before {
  content: "\f11d";
}

/* line 498, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chatbubbles:before {
  content: "\f11f";
}

/* line 499, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-checkmark:before {
  content: "\f122";
}

/* line 500, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-checkmark-circled:before {
  content: "\f120";
}

/* line 501, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-checkmark-round:before {
  content: "\f121";
}

/* line 502, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chevron-down:before {
  content: "\f123";
}

/* line 503, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chevron-left:before {
  content: "\f124";
}

/* line 504, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chevron-right:before {
  content: "\f125";
}

/* line 505, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-chevron-up:before {
  content: "\f126";
}

/* line 506, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-clipboard:before {
  content: "\f127";
}

/* line 507, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-clock:before {
  content: "\f26e";
}

/* line 508, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-close:before {
  content: "\f12a";
}

/* line 509, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-close-circled:before {
  content: "\f128";
}

/* line 510, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-close-round:before {
  content: "\f129";
}

/* line 511, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-cloud:before {
  content: "\f12b";
}

/* line 512, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-code:before {
  content: "\f271";
}

/* line 513, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-code-download:before {
  content: "\f26f";
}

/* line 514, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-code-working:before {
  content: "\f270";
}

/* line 515, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-coffee:before {
  content: "\f272";
}

/* line 516, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-compass:before {
  content: "\f273";
}

/* line 517, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-compose:before {
  content: "\f12c";
}

/* line 518, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-connection-bars:before {
  content: "\f274";
}

/* line 519, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-contrast:before {
  content: "\f275";
}

/* line 520, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-disc:before {
  content: "\f12d";
}

/* line 521, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-document:before {
  content: "\f12f";
}

/* line 522, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-document-text:before {
  content: "\f12e";
}

/* line 523, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-drag:before {
  content: "\f130";
}

/* line 524, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-earth:before {
  content: "\f276";
}

/* line 525, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-egg:before {
  content: "\f277";
}

/* line 526, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-eject:before {
  content: "\f131";
}

/* line 527, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-email:before {
  content: "\f132";
}

/* line 528, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-eye:before {
  content: "\f133";
}

/* line 529, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-female:before {
  content: "\f278";
}

/* line 530, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-filing:before {
  content: "\f134";
}

/* line 531, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-film-marker:before {
  content: "\f135";
}

/* line 532, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-flag:before {
  content: "\f279";
}

/* line 533, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-flash:before {
  content: "\f137";
}

/* line 534, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-flash-off:before {
  content: "\f136";
}

/* line 535, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-flask:before {
  content: "\f138";
}

/* line 536, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-folder:before {
  content: "\f139";
}

/* line 537, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-fork:before {
  content: "\f27a";
}

/* line 538, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-forward:before {
  content: "\f13a";
}

/* line 539, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-game-controller-a:before {
  content: "\f13b";
}

/* line 540, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-game-controller-b:before {
  content: "\f13c";
}

/* line 541, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-gear-a:before {
  content: "\f13d";
}

/* line 542, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-gear-b:before {
  content: "\f13e";
}

/* line 543, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-grid:before {
  content: "\f13f";
}

/* line 544, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-hammer:before {
  content: "\f27b";
}

/* line 545, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-headphone:before {
  content: "\f140";
}

/* line 546, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-heart:before {
  content: "\f141";
}

/* line 547, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-help:before {
  content: "\f143";
}

/* line 548, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-help-buoy:before {
  content: "\f27c";
}

/* line 549, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-help-circled:before {
  content: "\f142";
}

/* line 550, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-home:before {
  content: "\f144";
}

/* line 551, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-icecream:before {
  content: "\f27d";
}

/* line 552, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-icon-social-google-plus:before {
  content: "\f146";
}

/* line 553, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-icon-social-google-plus-outline:before {
  content: "\f145";
}

/* line 554, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-image:before {
  content: "\f147";
}

/* line 555, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-images:before {
  content: "\f148";
}

/* line 556, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-information:before {
  content: "\f14a";
}

/* line 557, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-information-circled:before {
  content: "\f149";
}

/* line 558, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ionic:before {
  content: "\f14b";
}

/* line 559, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-alarm:before {
  content: "\f14d";
}

/* line 560, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-alarm-outline:before {
  content: "\f14c";
}

/* line 561, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-albums:before {
  content: "\f14f";
}

/* line 562, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-albums-outline:before {
  content: "\f14e";
}

/* line 563, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-back:before {
  content: "\f150";
}

/* line 564, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-down:before {
  content: "\f151";
}

/* line 565, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-forward:before {
  content: "\f152";
}

/* line 566, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-left:before {
  content: "\f153";
}

/* line 567, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-right:before {
  content: "\f154";
}

/* line 568, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-thin-down:before {
  content: "\f27e";
}

/* line 569, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-thin-left:before {
  content: "\f27f";
}

/* line 570, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-thin-right:before {
  content: "\f280";
}

/* line 571, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-thin-up:before {
  content: "\f281";
}

/* line 572, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-arrow-up:before {
  content: "\f155";
}

/* line 573, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-at:before {
  content: "\f157";
}

/* line 574, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-at-outline:before {
  content: "\f156";
}

/* line 575, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-bell:before {
  content: "\f159";
}

/* line 576, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-bell-outline:before {
  content: "\f158";
}

/* line 577, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-bolt:before {
  content: "\f15b";
}

/* line 578, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-bolt-outline:before {
  content: "\f15a";
}

/* line 579, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-bookmarks:before {
  content: "\f15d";
}

/* line 580, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-bookmarks-outline:before {
  content: "\f15c";
}

/* line 581, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-box:before {
  content: "\f15f";
}

/* line 582, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-box-outline:before {
  content: "\f15e";
}

/* line 583, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-briefcase:before {
  content: "\f283";
}

/* line 584, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-briefcase-outline:before {
  content: "\f282";
}

/* line 585, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-browsers:before {
  content: "\f161";
}

/* line 586, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-browsers-outline:before {
  content: "\f160";
}

/* line 587, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-calculator:before {
  content: "\f285";
}

/* line 588, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-calculator-outline:before {
  content: "\f284";
}

/* line 589, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-calendar:before {
  content: "\f163";
}

/* line 590, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-calendar-outline:before {
  content: "\f162";
}

/* line 591, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-camera:before {
  content: "\f165";
}

/* line 592, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-camera-outline:before {
  content: "\f164";
}

/* line 593, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cart:before {
  content: "\f167";
}

/* line 594, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cart-outline:before {
  content: "\f166";
}

/* line 595, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-chatboxes:before {
  content: "\f169";
}

/* line 596, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-chatboxes-outline:before {
  content: "\f168";
}

/* line 597, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-chatbubble:before {
  content: "\f16b";
}

/* line 598, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-chatbubble-outline:before {
  content: "\f16a";
}

/* line 599, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-checkmark:before {
  content: "\f16e";
}

/* line 600, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-checkmark-empty:before {
  content: "\f16c";
}

/* line 601, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-checkmark-outline:before {
  content: "\f16d";
}

/* line 602, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-circle-filled:before {
  content: "\f16f";
}

/* line 603, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-circle-outline:before {
  content: "\f170";
}

/* line 604, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-clock:before {
  content: "\f172";
}

/* line 605, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-clock-outline:before {
  content: "\f171";
}

/* line 606, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cloud:before {
  content: "\f178";
}

/* line 607, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cloud-download:before {
  content: "\f174";
}

/* line 608, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cloud-download-outline:before {
  content: "\f173";
}

/* line 609, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cloud-outline:before {
  content: "\f175";
}

/* line 610, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cloud-upload:before {
  content: "\f177";
}

/* line 611, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cloud-upload-outline:before {
  content: "\f176";
}

/* line 612, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cloudy:before {
  content: "\f17a";
}

/* line 613, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cloudy-outline:before {
  content: "\f179";
}

/* line 614, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cog:before {
  content: "\f17c";
}

/* line 615, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-cog-outline:before {
  content: "\f17b";
}

/* line 616, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-compose:before {
  content: "\f17e";
}

/* line 617, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-compose-outline:before {
  content: "\f17d";
}

/* line 618, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-contact:before {
  content: "\f180";
}

/* line 619, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-contact-outline:before {
  content: "\f17f";
}

/* line 620, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-copy:before {
  content: "\f182";
}

/* line 621, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-copy-outline:before {
  content: "\f181";
}

/* line 622, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-download:before {
  content: "\f184";
}

/* line 623, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-download-outline:before {
  content: "\f183";
}

/* line 624, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-drag:before {
  content: "\f185";
}

/* line 625, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-email:before {
  content: "\f187";
}

/* line 626, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-email-outline:before {
  content: "\f186";
}

/* line 627, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-eye:before {
  content: "\f189";
}

/* line 628, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-eye-outline:before {
  content: "\f188";
}

/* line 629, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-fastforward:before {
  content: "\f18b";
}

/* line 630, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-fastforward-outline:before {
  content: "\f18a";
}

/* line 631, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-filing:before {
  content: "\f18d";
}

/* line 632, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-filing-outline:before {
  content: "\f18c";
}

/* line 633, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-film:before {
  content: "\f18f";
}

/* line 634, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-film-outline:before {
  content: "\f18e";
}

/* line 635, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-flag:before {
  content: "\f191";
}

/* line 636, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-flag-outline:before {
  content: "\f190";
}

/* line 637, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-folder:before {
  content: "\f193";
}

/* line 638, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-folder-outline:before {
  content: "\f192";
}

/* line 639, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-gear:before {
  content: "\f195";
}

/* line 640, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-gear-outline:before {
  content: "\f194";
}

/* line 641, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-glasses:before {
  content: "\f197";
}

/* line 642, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-glasses-outline:before {
  content: "\f196";
}

/* line 643, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-heart:before {
  content: "\f199";
}

/* line 644, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-heart-outline:before {
  content: "\f198";
}

/* line 645, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-help:before {
  content: "\f19c";
}

/* line 646, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-help-empty:before {
  content: "\f19a";
}

/* line 647, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-help-outline:before {
  content: "\f19b";
}

/* line 648, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-infinite:before {
  content: "\f19e";
}

/* line 649, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-infinite-outline:before {
  content: "\f19d";
}

/* line 650, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-information:before {
  content: "\f1a1";
}

/* line 651, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-information-empty:before {
  content: "\f19f";
}

/* line 652, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-information-outline:before {
  content: "\f1a0";
}

/* line 653, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-ionic-outline:before {
  content: "\f1a2";
}

/* line 654, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-keypad:before {
  content: "\f1a4";
}

/* line 655, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-keypad-outline:before {
  content: "\f1a3";
}

/* line 656, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-lightbulb:before {
  content: "\f287";
}

/* line 657, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-lightbulb-outline:before {
  content: "\f286";
}

/* line 658, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-location:before {
  content: "\f1a6";
}

/* line 659, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-location-outline:before {
  content: "\f1a5";
}

/* line 660, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-locked:before {
  content: "\f1a8";
}

/* line 661, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-locked-outline:before {
  content: "\f1a7";
}

/* line 662, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-medkit:before {
  content: "\f289";
}

/* line 663, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-medkit-outline:before {
  content: "\f288";
}

/* line 664, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-mic:before {
  content: "\f1ab";
}

/* line 665, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-mic-off:before {
  content: "\f1a9";
}

/* line 666, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-mic-outline:before {
  content: "\f1aa";
}

/* line 667, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-minus:before {
  content: "\f1ae";
}

/* line 668, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-minus-empty:before {
  content: "\f1ac";
}

/* line 669, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-minus-outline:before {
  content: "\f1ad";
}

/* line 670, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-monitor:before {
  content: "\f1b0";
}

/* line 671, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-monitor-outline:before {
  content: "\f1af";
}

/* line 672, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-moon:before {
  content: "\f1b2";
}

/* line 673, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-moon-outline:before {
  content: "\f1b1";
}

/* line 674, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-more:before {
  content: "\f1b4";
}

/* line 675, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-more-outline:before {
  content: "\f1b3";
}

/* line 676, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-musical-note:before {
  content: "\f1b5";
}

/* line 677, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-musical-notes:before {
  content: "\f1b6";
}

/* line 678, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-navigate:before {
  content: "\f1b8";
}

/* line 679, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-navigate-outline:before {
  content: "\f1b7";
}

/* line 680, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-paperplane:before {
  content: "\f1ba";
}

/* line 681, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-paperplane-outline:before {
  content: "\f1b9";
}

/* line 682, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-partlysunny:before {
  content: "\f1bc";
}

/* line 683, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-partlysunny-outline:before {
  content: "\f1bb";
}

/* line 684, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-pause:before {
  content: "\f1be";
}

/* line 685, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-pause-outline:before {
  content: "\f1bd";
}

/* line 686, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-people:before {
  content: "\f1c0";
}

/* line 687, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-people-outline:before {
  content: "\f1bf";
}

/* line 688, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-person:before {
  content: "\f1c2";
}

/* line 689, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-person-outline:before {
  content: "\f1c1";
}

/* line 690, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-personadd:before {
  content: "\f1c4";
}

/* line 691, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-personadd-outline:before {
  content: "\f1c3";
}

/* line 692, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-photos:before {
  content: "\f1c6";
}

/* line 693, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-photos-outline:before {
  content: "\f1c5";
}

/* line 694, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-pie:before {
  content: "\f28b";
}

/* line 695, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-pie-outline:before {
  content: "\f28a";
}

/* line 696, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-play:before {
  content: "\f1c8";
}

/* line 697, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-play-outline:before {
  content: "\f1c7";
}

/* line 698, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-plus:before {
  content: "\f1cb";
}

/* line 699, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-plus-empty:before {
  content: "\f1c9";
}

/* line 700, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-plus-outline:before {
  content: "\f1ca";
}

/* line 701, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-pricetag:before {
  content: "\f28d";
}

/* line 702, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-pricetag-outline:before {
  content: "\f28c";
}

/* line 703, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-printer:before {
  content: "\f1cd";
}

/* line 704, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-printer-outline:before {
  content: "\f1cc";
}

/* line 705, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-rainy:before {
  content: "\f1cf";
}

/* line 706, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-rainy-outline:before {
  content: "\f1ce";
}

/* line 707, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-recording:before {
  content: "\f1d1";
}

/* line 708, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-recording-outline:before {
  content: "\f1d0";
}

/* line 709, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-redo:before {
  content: "\f1d3";
}

/* line 710, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-redo-outline:before {
  content: "\f1d2";
}

/* line 711, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-refresh:before {
  content: "\f1d6";
}

/* line 712, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-refresh-empty:before {
  content: "\f1d4";
}

/* line 713, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-refresh-outline:before {
  content: "\f1d5";
}

/* line 714, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-reload:before {
  content: "\f28e";
}

/* line 715, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-rewind:before {
  content: "\f1d8";
}

/* line 716, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-rewind-outline:before {
  content: "\f1d7";
}

/* line 717, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-search:before {
  content: "\f1da";
}

/* line 718, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-search-strong:before {
  content: "\f1d9";
}

/* line 719, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-skipbackward:before {
  content: "\f1dc";
}

/* line 720, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-skipbackward-outline:before {
  content: "\f1db";
}

/* line 721, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-skipforward:before {
  content: "\f1de";
}

/* line 722, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-skipforward-outline:before {
  content: "\f1dd";
}

/* line 723, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-speedometer:before {
  content: "\f290";
}

/* line 724, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-speedometer-outline:before {
  content: "\f28f";
}

/* line 725, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-star:before {
  content: "\f1e0";
}

/* line 726, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-star-outline:before {
  content: "\f1df";
}

/* line 727, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-stopwatch:before {
  content: "\f1e2";
}

/* line 728, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-stopwatch-outline:before {
  content: "\f1e1";
}

/* line 729, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-sunny:before {
  content: "\f1e4";
}

/* line 730, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-sunny-outline:before {
  content: "\f1e3";
}

/* line 731, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-telephone:before {
  content: "\f1e6";
}

/* line 732, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-telephone-outline:before {
  content: "\f1e5";
}

/* line 733, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-thunderstorm:before {
  content: "\f1e8";
}

/* line 734, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-thunderstorm-outline:before {
  content: "\f1e7";
}

/* line 735, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-time:before {
  content: "\f292";
}

/* line 736, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-time-outline:before {
  content: "\f291";
}

/* line 737, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-timer:before {
  content: "\f1ea";
}

/* line 738, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-timer-outline:before {
  content: "\f1e9";
}

/* line 739, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-trash:before {
  content: "\f1ec";
}

/* line 740, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-trash-outline:before {
  content: "\f1eb";
}

/* line 741, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-undo:before {
  content: "\f1ee";
}

/* line 742, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-undo-outline:before {
  content: "\f1ed";
}

/* line 743, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-unlocked:before {
  content: "\f1f0";
}

/* line 744, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-unlocked-outline:before {
  content: "\f1ef";
}

/* line 745, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-upload:before {
  content: "\f1f2";
}

/* line 746, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-upload-outline:before {
  content: "\f1f1";
}

/* line 747, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-videocam:before {
  content: "\f1f4";
}

/* line 748, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-videocam-outline:before {
  content: "\f1f3";
}

/* line 749, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-volume-high:before {
  content: "\f1f5";
}

/* line 750, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-volume-low:before {
  content: "\f1f6";
}

/* line 751, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-wineglass:before {
  content: "\f294";
}

/* line 752, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-wineglass-outline:before {
  content: "\f293";
}

/* line 753, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-world:before {
  content: "\f1f8";
}

/* line 754, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ios7-world-outline:before {
  content: "\f1f7";
}

/* line 755, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ipad:before {
  content: "\f1f9";
}

/* line 756, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-iphone:before {
  content: "\f1fa";
}

/* line 757, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-ipod:before {
  content: "\f1fb";
}

/* line 758, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-jet:before {
  content: "\f295";
}

/* line 759, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-key:before {
  content: "\f296";
}

/* line 760, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-knife:before {
  content: "\f297";
}

/* line 761, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-laptop:before {
  content: "\f1fc";
}

/* line 762, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-leaf:before {
  content: "\f1fd";
}

/* line 763, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-levels:before {
  content: "\f298";
}

/* line 764, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-lightbulb:before {
  content: "\f299";
}

/* line 765, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-link:before {
  content: "\f1fe";
}

/* line 766, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-load-a:before {
  content: "\f29a";
}

/* line 767, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-load-b:before {
  content: "\f29b";
}

/* line 768, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-load-c:before {
  content: "\f29c";
}

/* line 769, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-load-d:before {
  content: "\f29d";
}

/* line 770, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-location:before {
  content: "\f1ff";
}

/* line 771, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-locked:before {
  content: "\f200";
}

/* line 772, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-log-in:before {
  content: "\f29e";
}

/* line 773, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-log-out:before {
  content: "\f29f";
}

/* line 774, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-loop:before {
  content: "\f201";
}

/* line 775, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-magnet:before {
  content: "\f2a0";
}

/* line 776, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-male:before {
  content: "\f2a1";
}

/* line 777, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-man:before {
  content: "\f202";
}

/* line 778, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-map:before {
  content: "\f203";
}

/* line 779, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-medkit:before {
  content: "\f2a2";
}

/* line 780, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-mic-a:before {
  content: "\f204";
}

/* line 781, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-mic-b:before {
  content: "\f205";
}

/* line 782, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-mic-c:before {
  content: "\f206";
}

/* line 783, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-minus:before {
  content: "\f209";
}

/* line 784, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-minus-circled:before {
  content: "\f207";
}

/* line 785, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-minus-round:before {
  content: "\f208";
}

/* line 786, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-monitor:before {
  content: "\f20a";
}

/* line 787, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-more:before {
  content: "\f20b";
}

/* line 788, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-music-note:before {
  content: "\f20c";
}

/* line 789, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-navicon:before {
  content: "\f20e";
}

/* line 790, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-navicon-round:before {
  content: "\f20d";
}

/* line 791, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-navigate:before {
  content: "\f2a3";
}

/* line 792, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-nuclear:before {
  content: "\f2a4";
}

/* line 793, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-paperclip:before {
  content: "\f20f";
}

/* line 794, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-pause:before {
  content: "\f210";
}

/* line 795, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-person:before {
  content: "\f213";
}

/* line 796, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-person-add:before {
  content: "\f211";
}

/* line 797, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-person-stalker:before {
  content: "\f212";
}

/* line 798, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-pie-graph:before {
  content: "\f2a5";
}

/* line 799, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-pin:before {
  content: "\f2a6";
}

/* line 800, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-pinpoint:before {
  content: "\f2a7";
}

/* line 801, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-pizza:before {
  content: "\f2a8";
}

/* line 802, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-plane:before {
  content: "\f214";
}

/* line 803, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-play:before {
  content: "\f215";
}

/* line 804, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-plus:before {
  content: "\f218";
}

/* line 805, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-plus-circled:before {
  content: "\f216";
}

/* line 806, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-plus-round:before {
  content: "\f217";
}

/* line 807, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-pound:before {
  content: "\f219";
}

/* line 808, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-power:before {
  content: "\f2a9";
}

/* line 809, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-pricetag:before {
  content: "\f2aa";
}

/* line 810, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-pricetags:before {
  content: "\f2ab";
}

/* line 811, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-printer:before {
  content: "\f21a";
}

/* line 812, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-radio-waves:before {
  content: "\f2ac";
}

/* line 813, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-record:before {
  content: "\f21b";
}

/* line 814, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-refresh:before {
  content: "\f21c";
}

/* line 815, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-reply:before {
  content: "\f21e";
}

/* line 816, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-reply-all:before {
  content: "\f21d";
}

/* line 817, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-search:before {
  content: "\f21f";
}

/* line 818, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-settings:before {
  content: "\f2ad";
}

/* line 819, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-share:before {
  content: "\f220";
}

/* line 820, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-shuffle:before {
  content: "\f221";
}

/* line 821, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-skip-backward:before {
  content: "\f222";
}

/* line 822, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-skip-forward:before {
  content: "\f223";
}

/* line 823, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-android:before {
  content: "\f225";
}

/* line 824, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-android-outline:before {
  content: "\f224";
}

/* line 825, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-apple:before {
  content: "\f227";
}

/* line 826, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-apple-outline:before {
  content: "\f226";
}

/* line 827, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-bitcoin:before {
  content: "\f2af";
}

/* line 828, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-bitcoin-outline:before {
  content: "\f2ae";
}

/* line 829, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-buffer:before {
  content: "\f229";
}

/* line 830, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-buffer-outline:before {
  content: "\f228";
}

/* line 831, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-designernews:before {
  content: "\f22b";
}

/* line 832, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-designernews-outline:before {
  content: "\f22a";
}

/* line 833, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-dribbble:before {
  content: "\f22d";
}

/* line 834, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-dribbble-outline:before {
  content: "\f22c";
}

/* line 835, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-dropbox:before {
  content: "\f22f";
}

/* line 836, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-dropbox-outline:before {
  content: "\f22e";
}

/* line 837, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-facebook:before {
  content: "\f231";
}

/* line 838, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-facebook-outline:before {
  content: "\f230";
}

/* line 839, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-github:before {
  content: "\f233";
}

/* line 840, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-github-outline:before {
  content: "\f232";
}

/* line 841, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-googleplus:before {
  content: "\f235";
}

/* line 842, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-googleplus-outline:before {
  content: "\f234";
}

/* line 843, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-hackernews:before {
  content: "\f237";
}

/* line 844, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-hackernews-outline:before {
  content: "\f236";
}

/* line 845, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-linkedin:before {
  content: "\f239";
}

/* line 846, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-linkedin-outline:before {
  content: "\f238";
}

/* line 847, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-pinterest:before {
  content: "\f2b1";
}

/* line 848, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-pinterest-outline:before {
  content: "\f2b0";
}

/* line 849, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-reddit:before {
  content: "\f23b";
}

/* line 850, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-reddit-outline:before {
  content: "\f23a";
}

/* line 851, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-rss:before {
  content: "\f23d";
}

/* line 852, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-rss-outline:before {
  content: "\f23c";
}

/* line 853, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-skype:before {
  content: "\f23f";
}

/* line 854, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-skype-outline:before {
  content: "\f23e";
}

/* line 855, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-tumblr:before {
  content: "\f241";
}

/* line 856, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-tumblr-outline:before {
  content: "\f240";
}

/* line 857, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-twitter:before {
  content: "\f243";
}

/* line 858, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-twitter-outline:before {
  content: "\f242";
}

/* line 859, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-vimeo:before {
  content: "\f245";
}

/* line 860, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-vimeo-outline:before {
  content: "\f244";
}

/* line 861, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-windows:before {
  content: "\f247";
}

/* line 862, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-windows-outline:before {
  content: "\f246";
}

/* line 863, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-wordpress:before {
  content: "\f249";
}

/* line 864, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-wordpress-outline:before {
  content: "\f248";
}

/* line 865, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-yahoo:before {
  content: "\f24b";
}

/* line 866, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-yahoo-outline:before {
  content: "\f24a";
}

/* line 867, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-youtube:before {
  content: "\f24d";
}

/* line 868, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-social-youtube-outline:before {
  content: "\f24c";
}

/* line 869, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-speakerphone:before {
  content: "\f2b2";
}

/* line 870, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-speedometer:before {
  content: "\f2b3";
}

/* line 871, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-spoon:before {
  content: "\f2b4";
}

/* line 872, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-star:before {
  content: "\f24e";
}

/* line 873, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-stats-bars:before {
  content: "\f2b5";
}

/* line 874, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-stop:before {
  content: "\f24f";
}

/* line 875, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-thermometer:before {
  content: "\f2b6";
}

/* line 876, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-thumbsdown:before {
  content: "\f250";
}

/* line 877, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-thumbsup:before {
  content: "\f251";
}

/* line 878, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-trash-a:before {
  content: "\f252";
}

/* line 879, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-trash-b:before {
  content: "\f253";
}

/* line 880, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-umbrella:before {
  content: "\f2b7";
}

/* line 881, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-unlocked:before {
  content: "\f254";
}

/* line 882, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-upload:before {
  content: "\f255";
}

/* line 883, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-usb:before {
  content: "\f2b8";
}

/* line 884, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-videocamera:before {
  content: "\f256";
}

/* line 885, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-volume-high:before {
  content: "\f257";
}

/* line 886, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-volume-low:before {
  content: "\f258";
}

/* line 887, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-volume-medium:before {
  content: "\f259";
}

/* line 888, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-volume-mute:before {
  content: "\f25a";
}

/* line 889, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-waterdrop:before {
  content: "\f25b";
}

/* line 890, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-wifi:before {
  content: "\f25c";
}

/* line 891, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-wineglass:before {
  content: "\f2b9";
}

/* line 892, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-woman:before {
  content: "\f25d";
}

/* line 893, ../sass/partials/ionicons/_ionicons-icons.scss */
.ion-wrench:before {
  content: "\f2ba";
}

/* line 5, ../sass/partials/_navigation.scss */
.nav--main {
  clear: left;
}
/* line 7, ../sass/partials/_navigation.scss */
.nav--main ul {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
/* line 14, ../sass/partials/_navigation.scss */
.nav--main li {
  display: block;
  width: 100%;
}
/* line 18, ../sass/partials/_navigation.scss */
.nav--main a {
  display: block;
  padding: 0.5em 0.8em;
  font-size: 125%;
  background-color: #f1f1f1;
  border-bottom: 1px solid white;
}
/* line 25, ../sass/partials/_navigation.scss */
.nav--main li:last-child a {
  border-bottom: 0;
}
/* line 28, ../sass/partials/_navigation.scss */
.nav--main.opened {
  max-height: 9999px;
}
@media (min-width: 45em) {
  /* line 5, ../sass/partials/_navigation.scss */
  .nav--main {
    clear: none;
  }
  /* line 34, ../sass/partials/_navigation.scss */
  .nav--main ul {
    float: right;
    width: auto;
    padding: 1.75em 0;
  }
  /* line 39, ../sass/partials/_navigation.scss */
  .nav--main li {
    float: left;
    width: auto;
  }
  /* line 43, ../sass/partials/_navigation.scss */
  .nav--main a {
    font-size: 100%;
    background: none;
  }
  /* line 47, ../sass/partials/_navigation.scss */
  .nav--main li + li {
    margin-left: 1.5em;
  }
}

/* line 53, ../sass/partials/_navigation.scss */
.js .nav--main {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  margin: 0 -1em;
  overflow: hidden;
  zoom: 1;
}
@media (min-width: 45em) {
  /* line 53, ../sass/partials/_navigation.scss */
  .js .nav--main {
    position: relative;
    max-height: 9999px;
    margin: 0;
  }
}

/* line 69, ../sass/partials/_navigation.scss */
.nav__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  padding-top: 30px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 90, ../sass/partials/_navigation.scss */
.nav__toggle .icon {
  font-size: 250%;
}
@media (min-width: 45em) {
  /* line 69, ../sass/partials/_navigation.scss */
  .nav__toggle {
    display: none;
  }
}
